body {margin: 0; padding: 0; font-size: 100%; box-sizing: border-box; font-family: 'Open Sans', sans-serif; }
nav{
    width: 100%;
    background: #4F4F4F ;
    overflow: auto;
}
ul{
    padding: 0;
    margin: 0 0 0 150px;
    list-style: none;
}
li{
    float: left;
}
.logo img {
    height: 65px;
    width: 100px;
    position: absolute;
    margin-top: 0;
    margin-left: 10px;
}
nav a {
    width: 200px;
    display: block;
    padding: 20px 15px;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    color: #ffffff;
    text-align: center;
}
nav a:hover {
    background: rgb(97, 92, 92);
    text-transform: initial;
}
button{
    width: 150px;
    height: 40px;
    background: #222222;
    color:#ffffff;
    border-radius: 6px;
    font-weight: bold;
    cursor: pointer;
    outline: none;
    font-size: 14px;
    line-height: 18px;
    font-weight: bold;
    letter-spacing: 0.2px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;

}

button:hover{
    text-decoration: underline;
}

input{
    border-radius: 8px;
}
.container{
    width: 60%;
    max-width: 980px;
    text-align: center;
    margin: 30px auto;
}
.h1{
    font-size: 100px;
}
.h1{
    font-size: 50px;
}
td, th {
    padding: .7em;
    margin: 0;
    /*border: 1px solid #ccc;*/
    text-align: center;
}

th{
    /*background-color: #EEE;*/
}
td{
    font-weight:bold;
    /*background-color: #EEE;*/
}

table{
    width: 100%;
    margin-bottom : .5em;
    table-layout: fixed;
    text-align: center;
}